<p>
	<%= f.label :name, "Nombre: " %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :last_name, "Apellido: " %>
	<%= f.text_field :last_name %>
</p>
<p>
	<%= f.label :address, "Direccion: " %>
	<%= f.text_area :address %>
</p>
<p>
	<%= f.label :email, "Correo Electronico: " %>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :phone, "Telefono" %>
	<%= f.number_field :phone %>
</p>