<%= owner_index_title %>
<%= owner_index_description %>

<hr>

<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="2" class="table table-hover table-bordered">
	<thead>
		<th colspan="3">
			Informacion Personal
		</th>
			<th colspan="1">
			Datos de Contacto
		</th>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Telefono</th>
		</tr>
	</thead>
	<tbody>
		<%= render @owners %>
	</tbody>
</table>

<div class="btn-group" role="group" aria-label="Acciones">
	<%= link_to "Agregar Propietario", new_owner_path, class: "btn btn-default"%>
</div>
