	<p>
		<%=	f.label :name, "Nombre: " %>
		<%=	f.text_field :name %>
	</p>
	<p>
		<%=	f.label :born_at, "Fecha Nacimiento: " %>
		<%=	f.date_field :born_at %>
	</p>
	<p>
		<%=	f.label :observations, "Observaciones: " %>
		<%=	f.text_area :observations %>
	</p>
<p>
	<%= f.label :animal_id, "Tipo de Animal" %>
	<%= f.select :animal_id, Animal.pluck(:name, :id) %>
</p>
	<p>
		<%=	f.label :pet_url, "Imagen: " %>
		<%=	f.url_field :pet_url %>
	</p>