<h1>Crear nueva Mascota</h1>
<p><em>Ingrese los siguientes datos: </em></p>

<%= render partial: "shared/errors", locals: { obj: @pet } %>

<%= form_for @pet do |f| %>
<%= render partial: "form", locals: {f: f} %>
	<p>
		<%= f.submit "Crear" %>
		<%= link_to "Cancelar", pets_path %>
	</p>
<%- end %>