<div class="row"> 
  <div class="col-md-3 col-xs-6"> 
     <a href="#" class="thumbnail"> <img alt="Sin imagen para mostrar" data-src="holder.js/100%x180" style="height: 180px; width: 100%; display: block;" src=<%= @pet.pet_url %> data-holder-rendered="true"> 
     </a> 
  	<div class="caption">
			<h1><b> <%= @pet.name %> </b></h1>
			<p> <i> <%= @pet.observations %> <i></p>
		</div>	
  </div>
</div>

<hr>
<ul>
	<li>
		<strong>ID: </strong>
		<%= @pet.id %>
	</li>
	<li>
		<strong>Animal: </strong>
		<%= @pet.animal.name %>
	</li>
	<li>
		<strong>Raza: </strong>
		<%= @pet.breed %>
	</li>
	<li>
		<strong>Fecha de Nacimiento: </strong>
		<%= nice_date(@pet.born_at) %>
	</li>
	<li>
		<strong>Total en Citas: </strong>
		<%= @pet.sum_of_appointments %>
	</li>
</ul>

<%= render partial: "pet_appointments", locals: {appointments: @pet.appointments} %>

<div class="btn-group" role="group" aria-label="Acciones">
	<%= link_to "Editar Mascota", edit_pet_path, class: "btn btn-default" %>
	<%= link_to "Eliminar Mascota", @pet, method: :delete, data: {confirm: "Estas Seguro?"}, class: "btn btn-default" %>
	<%= link_to "Crear una cita", new_pet_appointment_path(@pet), class: "btn btn-default" %>
</div>