<h1>Crear nueva Cita</h1>
<p><em>Ingrese los siguientes datos: </em></p>

<%= render partial: "shared/errors", locals: { obj: @appointment } %>

<%= form_for [@pet, @appointment] do |f| %>
	<%= render partial: "form", locals: {f: f} %>
	<p>
		<%= f.submit "Crear" %>
		<%= link_to "Cancelar", @pet %>
	</p>
<%- end %>

