<h1><b> <%= @pet.name + " Cita Numero: " + @appointment.id.to_s %> </b></h1>

<p> <i> <%= @appointment.description %> <i></p>
<hr> </hr>
<ul>
	<li>
		<strong>ID: </strong>
		<%= @appointment.id %>
	</li>
	<li>
		<strong>Fecha: </strong>
		<%= nice_date(@appointment.created_at) %>
	</li>

	<hr>
	<%= link_to "Cancelar", @pet, class: "btn btn-default" %>
	<%= link_to "Editar Cita", edit_pet_appointment_path, class: "btn btn-default" %>