<!DOCTYPE html>
<html>
<head>
  <title>Veterinaria Chansey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				Veterinaria Chansey</a>
		</div>

		<ul class="nav navbar-nav">
			<li>
				<%= link_to root_path do %>
					<span class="fa fa-home"></span> 
					Inicio
				<% end %>
			</li>

			<li>
				<%= link_to owners_path do %>
					<span class="fa fa-users"></span> 
					Propietarios
				<% end %>
			</li>

			<li>
				<%= link_to animals_path do %>
					<span class="fa fa-gitlab"></span> 
					Animales
				<% end %>
			</li>

			<li>
				<%= link_to pets_path do %>
					<span class="fa fa-linux"></span> 
					Mascotas
				<% end %>
			</li>
	    </ul>
	  </div>
	</nav>

<%= yield %>
</div>

<hr>
	<footer>
		<p>2016. Experiencia de Usuario - UNITEC SPS</p>
	</footer>

</body>
</html>
