<!DOCTYPE html>
<html>
<head>
  <title>Veterinaria Chansey</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
	<tbody>
		<tr>
			<td> <%= link_to "Home", root_path %> </td>
			<td> <%= link_to "Propietarios", owners_path %> </td>
			<td> <%= link_to "Animal", animals_path %> </td>
			<td> <%= link_to "Mascotas", pets_path %> </td>
		</tr>
	</tbody>	
</table>

<%= yield %>

</body>
</html>
